/* Coolors Exported Palette - coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */

/* HSL */
/*
$color1: hsla(229%, 19%, 22%, 1);
$color2: hsla(218%, 19%, 38%, 1);
$color3: hsla(180%, 1%, 75%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(18%, 83%, 63%, 1);
*/
/* RGB */

$color1: rgba(45, 49, 66, 1);
$color2: rgba(79, 93, 117, 1);
$color3: rgba(191, 192, 192, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(239, 131, 84, 1);

/*
$color1: rgba(5, 102, 141, 1);
$color2: rgba(66, 122, 161, 1);
$color3: rgba(235, 242, 250, 1);
$color4: rgba(103, 148, 54, 1);
$color5: rgba(165, 190, 0, 1);
*/