@import '../colors';

section#header {
  height: 700px;
  min-height: 700px;
  background-color: $color1;
  
  
    nav#navigation {
      display: flex;
      justify-content: center;
      height: 100px;
      overflow: hidden;
      //background: $color2;
    }
  
}